<!DOCTYPE html>
<html>
    <head>
        <title>Repeat Counter</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>Repeat Counter</h1>

            {% if result is not empty %}
                {% if result == 1 %}
                    <h4>Your word is repeated {{ result }} time in your sentence.</h4>
                    {% else %}
                    <h4>Your word is repeated {{ result }} times in your sentence.</h4>
                {% endif %}
            {% endif %}

            <br>
            <a href="/"><button class="btn btn-info">Home</button></a>

        </div>
    </body>
</html>
